.App {
  text-align: center;
}

/* NavBar */

.NavBar .logo {
  height: 70px;
}

/* Trending Post Card */


/* Main Section */

/* .MainSection {
  border: 2px solid red;
} */

.SortingIcons {
  border: 2px solid black;
  display: flex;
  justify-content: center;
}