.App {
  text-align: center;
}

/* NavBar */

.NavBar .logo {
  height: 70px;
}

/* Trending Post Card */


/* Home Main */

/* .HomeMain {
  border: 2px solid red;
} */

.SortingIcons, .HomePosts{
  border: 2px solid black;
  display: flex;
  justify-content: center;
}

.HomePost {
  border: crimson 2px solid;
  width: 100%;
  min-height: 200px;
}